DBBuilder/.classpath
DBBuilder/.project
DBBuilder/.settings/
DBBuilder/target
DBBuilder/bin
CollegeMatchWebApp/.settings/
CollegeMatchWebApp/.classpath
CollegeMatchWebApp/.project
CollegeMatchWebApp/src/main/resources/db.properties
