<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>CollegeMatchWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
	<servlet-name>RegisterNewUser</servlet-name>
	<servlet-class>com.servlets.RegisterUser</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>LoginMyUser</servlet-name>
	<servlet-class>com.servlets.LoginUser</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>EditUserInput</servlet-name>
	<servlet-class>com.servlets.EditUserForm</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>SaveUser</servlet-name>
	<servlet-class>com.servlets.SaveUserData</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>GetCookie</servlet-name>
	<servlet-class>com.servlets.CheckCookie</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>ViewFavoriteSchools</servlet-name>
	<servlet-class>com.servlets.ViewFavorites</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>OpenSearch</servlet-name>
	<servlet-class>com.servlets.OpenSearchForm</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>Logout</servlet-name>
	<servlet-class>com.servlets.Logout</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>EditFavoriteForm</servlet-name>
	<servlet-class>com.servlets.EditFavoriteForm</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>SchoolDetails</servlet-name>
	<servlet-class>com.servlets.SchoolDetails</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>SaveFavoriteData</servlet-name>
	<servlet-class>com.servlets.SaveFavorite</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>ModifyFavorite</servlet-name>
	<servlet-class>com.servlets.ModifyFavorite</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>SchoolSearch</servlet-name>
	<servlet-class>com.servlets.Search</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>QuickSearch</servlet-name>
	<servlet-class>com.servlets.QuickSearch</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>SavePassword</servlet-name>
	<servlet-class>com.servlets.SaveUserPassword</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
	<servlet-name>RegisterNewUser</servlet-name>
	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>LoginMyUser</servlet-name>
	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>EditUserInput</servlet-name>
	<url-pattern>/editmyuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>SaveUser</servlet-name>
	<url-pattern>/savedata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>GetCookie</servlet-name>
	<url-pattern>/cookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>ViewFavoriteSchools</servlet-name>
	<url-pattern>/myfavorites</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>OpenSearch</servlet-name>
	<url-pattern>/schoolsearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>Logout</servlet-name>
	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>EditFavoriteForm</servlet-name>
	<url-pattern>/editFav</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>SchoolDetails</servlet-name>
	<url-pattern>/viewSchool</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>SaveFavoriteData</servlet-name>
	<url-pattern>/saveFav</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>ModifyFavorite</servlet-name>
	<url-pattern>/modifyFavs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>SchoolSearch</servlet-name>
	<url-pattern>/advsearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>QuickSearch</servlet-name>
	<url-pattern>/quicksearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>SavePassword</servlet-name>
	<url-pattern>/savepw</url-pattern>
  </servlet-mapping>
</web-app>